.container {
    display: flex;
    flex-direction:row;
    margin-top: 3%;
}

.text {
    text-align: right;
    margin-right: 10%;
}

.dogImg {
    display: flex;
    width: 650px;
    image-rendering: optimizeSpeed;
}

.container hr {
    background-color: lightseagreen;
    margin-right: 0;
    width: 520px;
    height: 5px;
    border: none;
}

.container h1 {
    font-family: 'Fira Sans';
    font-size: 70px;
}

.container h3 {
    font-family: 'Roboto';
    font-size: 32px;
}

.container .btn {
    font-family: 'Fira Sans';
    font-size: 35px;
    width: 180px;
    height: 80px;
    background-color: #c5fdf0;
    color: #073b77;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);
    transition: background 250ms, box-shadow 250ms, padding 100ms;
}

.container .btn:hover {
    background: #80ffe1;
    box-shadow: -1px 1px 5px rgb(133, 133, 133);
}

.container .btn:active {
    outline: none;
    padding: 9px 14px;
}